/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 3em;
    color: #333;
}

h2 {
    font-size: 1.5em;
    color: #666;
    margin-bottom: 20px;
}

p{
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.vote-form {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.candidate {
    text-align: center;
}

.candidate img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.candidate p {
    font-size: 1.2em;
    color: #333;
    margin: 5px 0;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
